<section class="recently-viewed-products">
  {% if settings.recently_viewed_products_title != '' %}
  <h2>{{ settings.recently_viewed_products_title }}</h2>
  {% endif %}
  <div class="products-grid owl-carousel row" id="recently-viewed-products-grid">
  </div>
</section>

{% raw %}
<script id="recently-viewed-product-grid-template"  type="text/x-jquery-tmpl">
{% endraw %}
<div class="{% if settings.prouduct_item_no_hover%}product-item-no-hover{% endif %}{% if settings.product_image_border%} grid-item-border {% endif %} {% if settings.product_image_crop%} crop_image {% else %} no_crop_image {% endif %} grid-item product-item {% raw %} col-xs-6 col-sm-4 col">
  <div id="product-${id}" class="inner{{if !available}} sold-out {{/if}}{{if compare_at_price_min > price_min}} on-sale {{/if}}">
    <div class="inner-top">
      <div class="product-top">
        <div class="product-image">
            <a href="${url}" class="product-grid-image">
              <img class="lazyload" data-src="${Shopify.Products.resizeImage(featured_image, "380x")}" alt="${featured_image.alt}"/>
              <div class="hover"></div>
            </a>
            <div class="product-label">
              {{if compare_at_price_min > price_min}} 
                   <strong class="label">Sale</strong>
              {{/if}}
              {{if !available}} 
                 <strong class="sold-out-label">Sold Out</strong>
              {{/if}}
            </div>
        </div>
      </div>

      <div class="product-bottom">
        {% endraw %}
        {% if settings.enable_multilang %}
        {% raw %}
          <a class="product-title" href="${url}">${splitTitle(title)}</a>
        {% endraw %}
        {% else %}
        {% raw %}
          <a class="product-title" href="${url}">${title}</a>
        {% endraw %}
        {% endif %}
        {% raw %}
        
        <span class="shopify-product-reviews-badge" data-id="${id}"></span>

        <div class="price-box">   
        {{if compare_at_price_min > price_min}} 
          <p class="sale">
            <span class="old-price"> {{html Shopify.formatMoney(compare_at_price_min, window.money_format)}}</span>
            <span class="special-price">{{if price_varies}}<em>from </em>{{/if}}{{html Shopify.formatMoney(price_min, window.money_format)}}</span>
          </p>
        {{else}}
          <p class="regular-product">
            <span >{{if price_varies}}<em>from </em>{{/if}}{{html Shopify.formatMoney(price_min, window.money_format)}}</span>
          </p>
        {{/if}}
        </div>
 
      </div>
    </div>
  </div>
</div>
</script>
{% endraw %}