<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head> 
   
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-TD6WKNQ');</script>
<!-- End Google Tag Manager -->
  
<script>
	(function(d) {
		var e = d.createElement('script');
		e.src = d.location.protocol + '//tag.wknd.ai/5226/i.js';
		e.async = true;
		d.getElementsByTagName("head")[0].appendChild(e);
	}(document));
</script>
  
<!-- Google Search Schema -->
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "WebSite",
      "url": "https://www.urotuning.com/",
      "potentialAction": {
        "@type": "SearchAction",
        "target": {
          "@type": "EntryPoint",
          "urlTemplate": "https://www.urotuning.com/search?q={search_term_string}"
        },
        "query-input": "required name=search_term_string"
      }
    }
    </script>
<!-- End Google Search Schema -->
  
  <script>
    window.SAMPLE_ASSET_URL_FOR_FINDIFY = '{{ 'test.txt' | asset_url }}';
    var themeHelpers = {
      template: {{ template | json }},
      templateName: {{ template.name | json }},
    }
  </script>
  {% include 'shop-sheriff-amp' %}
  
  <meta charset="utf-8">
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="dns-prefetch preconnect" href="https://cdn.shopify.com">
  <link rel="dns-prefetch preconnect" href="https://fonts.googleapis.com">
  <link rel="dns-prefetch preconnect" href="https://d-ipv6.mmapiws.com">
  <link rel="dns-prefetch preconnect" href="https://salesreps.io">
  <link rel="dns-prefetch preconnect" href="https://pixel.rubiconproject.com">
  <link rel="dns-prefetch preconnect" href="https://ads.yahoo.com">

  <!-- Title and description -->
  {% assign colTags = '' %}
  {% if current_tags %}
  	{% assign splittedTags = current_tags.first | split: '__' %}
    {% for tag in splittedTags %}
      {% assign newTag = tag | replace: '_', ' ' | replace: '-', '/' | capitalize %}
      {% assign colTags = colTags | append: newTag | append: ' ' %}
    {% endfor %}
  {% endif %}
  <title>
    {{ page_title }}{% if colTags.size > 0 and collection %} {{ colTags }}Parts{% endif %}{% if current_page != 1 %} &ndash; Page {{ current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>

  {%- if page_description -%}
  <meta name="description" content="{{ page_description | escape }}">
  {%- endif -%}

  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="{{ 'apple-touch-icon.png' | asset_url }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ 'favicon-32x32.png' | asset_url }}">
  <link rel="manifest" href="{{ 'site.webmanifest' | asset_url }}">

  <!-- Styles -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Rajdhani:400,600,700&display=swap" rel="stylesheet">
  <link href="{{ 'vendor.scss.css' | asset_url }}" rel="stylesheet" type="text/css" media="all" />
  <link href="{{ 'theme.scss.css' | asset_url }}" rel="stylesheet" type="text/css" media="all" />
  
  <!-- Scripts -->
  <script src="{{ 'vendor.js' | asset_url }}"></script>
  <script>
    window.ajax_cart = {{settings.ajax_cart}};
    window.money_format = "{{shop.money_with_currency_format}}";
    window.shop_currency = "{{ shop.currency }}";
    window.show_multiple_currencies = {{settings.enable_multiple_currencies}};
    window.loading_url = "{{ 'loading.gif' | asset_url}}";
    window.use_color_swatch = {{ settings.use_color_swatch }};
    window.product_image_resize = {{settings.product_image_resize}};
    window.enable_sidebar_multiple_choice = {{ settings.enable_sidebar_multiple_choice}};
    window.dropdowncart_type = "{{ settings.dropdowncart_type }}";
    window.file_url = "{{''|file_url}}";
    window.asset_url = "{{''|asset_url}}";
    window.images_size = {
      is_crop: {{ settings.product_image_crop }},
      ratio_width : {{ settings.product_image_ratio_width }},
      ratio_height : {{ settings.product_image_ratio_height }},
    };
    window.showRecent = {{ settings.number_of_recently_viewed_products }};
  </script>
  <script src="https://cdn.jsdelivr.net/npm/pikaday/pikaday.js"></script>
  <script src="//assets.findify.io/shopurotuning.myshopify.com.min.js" async defer></script>

    
  <!-- Header hook for plugins -->
  {{ content_for_header }}
  
  {{ 'https://accessories.w3apps.co/js/accessories.js' | script_tag }}
  <script type="text/javascript">
    if (Shopify.designMode != true){
      accessoriesJS($);
    }
  </script>
{% if template == 'product' and product.metafields.inventory.ShappifyHidden or product.type contains '_HIDDEN_' %}<meta name='robots' content='noindex'>{% endif %}
{%- include 'bold-options-hybrid' -%}
    {%- include 'bold-common' -%}
    {%- include 'bold-product' with product, hide_action: 'header' -%}
    {%- include 'bold-po-custom' %}
    {{ 'bold.css' | asset_url | stylesheet_tag }}

  {%- if template contains "product" or template contains "cart" -%} 
    <script>
      _affirm_config = {
        public_api_key:  "J2X27QUJ01AU8NB5",
        script:          "https://cdn1.affirm.com/js/v2/affirm.js",
        session_id:      "YOUR_VISITOR_SESSION_ID"
      };
      (function(l,g,m,e,a,f,b){var d,c=l[m]||{},h=document.createElement(f),n=document.getElementsByTagName(f)[0],k=function(a,b,c){return function(){a[b]._.push([c,arguments])}};c[e]=k(c,e,"set");d=c[e];c[a]={};c[a]._=[];d._=[];c[a][b]=k(c,a,b);a=0;for(b="set add save post open empty reset on off trigger ready setProduct".split(" ");a<b.length;a++)d[b[a]]=k(c,e,b[a]);a=0;for(b=["get","token","url","items"];a<b.length;a++)d[b[a]]=function(){};h.async=!0;h.src=g[f];n.parentNode.insertBefore(h,n);delete g[f];d(g);l[m]=c})(window,_affirm_config,"affirm","checkout","ui","script","ready");
      // Use your live public API Key and https://cdn1.affirm.com/js/v2/affirm.js script to point to Affirm production environment.
    </script>

    
    {% include 'iglobal' %}
  
  {%- endif -%}
  
  {%- if template contains "collection" or template contains "blog" or template contains "page" -%} 
  	
  {%- endif -%}
  
  <!--[if lt IE 9]>{{ '//html5shiv.googlecode.com/svn/trunk/html5.js' | script_tag }}{{ 'modernizr.custom.js' | script_tag }}<![endif]-->

  {% if template contains 'customers' %}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
    {{ 'customer_area.js'  | shopify_asset_url | script_tag }}
  {% endif %}
  
  <script type='text/javascript' src='https://services.nofraud.com/js/1175/customer_code.js' async></script>
  
  {% include 'fb-open-graph-tags' %}
  {% include 'twitter-card' %} 
  
<!-- Global site tag (gtag.js) - Google Ads: 1053608386 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-1053608386"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-1053608386', {'allow_enhanced_conversions': true});
</script>
  
  <!--Microsoft UET Tag--->
  <script>(function(w,d,t,r,u){var f,n,i;w[u]=w[u]||[],f=function(){var o={ti:"16009356"};o.q=w[u],w[u]=new UET(o),w[u].push("pageLoad")},n=d.createElement(t),n.src=r,n.async=1,n.onload=n.onreadystatechange=function(){var s=this.readyState;s&&s!=="loaded"&&s!=="complete"||(f(),n.onload=n.onreadystatechange=null)},i=d.getElementsByTagName(t)[0],i.parentNode.insertBefore(n,i)})(window,document,"script","//bat.bing.com/bat.js","uetq");</script>
  

  <!-- Belkapp verify --><meta name="google-site-verification" content="vf0drQg8mlqgzkiPsDk1ZwVhri-w6_l1LzRdLnJPSwo" />


  {% render 'shogun-head' %}
  
<meta name="facebook-domain-verification" content="6gs6xn2ejrgx8jr6jiwk2hwnlduajx" />

  
</head>
<body id="{{ page_title | handle }}" data-id ="{% if customer %}{{ customer.id }}{% endif %}" class=" {% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" >

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TD6WKNQ"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

  <!--{{ 'carDetailsParser.js' | asset_url | script_tag }}-->
  
  <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
    <div class="gf-menu-device-wrapper">
      <div class="gf-menu-device-container"></div>
    </div>
  </nav>
  <a href="javascript:void(0)" class="body-overlay"></a>
  <div class="wrapper-container">

    {%- include 'header-top' -%}
    {%- include 'header' -%}

    <div class="dt_mt">

      {%- if settings.display_header_top_text and settings.header_top_text != blank -%}
      <div class="header-top visible-xs" style="padding:10px 0px 10px;font-weight:700;font-size:14px;">
        <div >
          <p style="text-align:center!important;">
            {% if settings.header_top_link_text != blank %}
            <a href="{{ settings.header_top_link }}" class="link">{{ settings.header_top_link_text }}</a>
            {% endif %}
            {{ settings.header_top_text }}
          </p>
        </div>
      </div>
      {%- endif -%}
      <div class="visible-xs">
        {% include 'search-mobile' %}
      </div>
      <main class="main-content {% if template contains 'index' or template contains 'contact' or template contains 'product' %}{% else %}container{% endif %}{% if template contains 'save_cart ' %}relative{% endif %}" role="main">
        {{ content_for_layout }}
      </main>
    </div>
    {% include 'footer' %}
  </div>
  {% section 'login-popup' %}
  {% include 'footer_scripts' %}
  {% include 'swymSnippet' %}    
  {% include 'smile-initializer' %}
  
  <script type='text/javascript'>
window.__lo_site_id = 170678;

	(function() {
		var wa = document.createElement('script'); wa.type = 'text/javascript'; wa.async = true;
		wa.src = 'https://d10lpsik1i8c69.cloudfront.net/w.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(wa, s);
	  })();
	</script>
  

{% include 'adroll' %}
{% include 'findifyRec' %}
</body>
</html>