<div class="breadcrumb hidden-xs"></div>

<div class="GalleryListing">
  <div class="CarProfile__loader active galleryListingSpinner">
    <div class="lds-ripple"><div></div><div></div></div>
  </div>

  <div class="GalleryListing__container">
    <div class="GalleryListing__images">
      <div class="GalleryListing__mainImage"></div>
      <div class="GalleryListing__thumbs"></div>
      <div class="GalleryListing__timeline">
        <div class="GalleryListing__timeline--header">
          <h3 class="GalleryListing__timeline--title">Timeline</h3>
          <div class='GalleryListing__timeline--sort'>Sort: Oldest to Newest</div>
        </div>
        <div class="GalleryListing__timeline--entry-wrap"></div>
      </div>
    </div>
    <div class="GalleryListing__info">
      
      <div class="GalleryListing__infoWrap">
      
        <h1 class="listingTitle"></h1>
		    <div class="likecontainer">
          <div class="likeListing"><img src="{{ 'redBtn.png' | asset_url }}"/> <span></span></div>
          {% if customer %}
            <a id="likeButton" data-cid="{{customer.id }}" class="likeButton">Like</a>
          {% else %}
          	<a class="loginToLike" href="/account">Login To Like</a>
          {% endif %}
        </div>
        <div class="igName">OWNER: <a></a></div>
        <div class="photographerIgName">Photography by: <a></a></div>

        <div class="galleryListingSpacing"></div>

        <div class="GalleryListing__modSection" data-mods="engineMods">
          <h4>Engine</h4>
          <ul></ul>
        </div>

        <div class="GalleryListing__modSection" data-mods="exhaustOrDownPipeMods">
          <h4>Exhaust/Downpipe</h4>
          <ul></ul>
        </div>

        <div class="GalleryListing__modSection" data-mods="suspensionMods">
          <h4>Suspension</h4>
          <ul></ul>
        </div>

        <div class="GalleryListing__wheelsSection">
          <h4>Wheels & Tires</h4>
          <div class="GalleryListing__sameSizeWheels">
            <p class="wheelItem" data-value="wheelBrandOrModel"></p>
            <p class="wheelItem" data-value="wheelSize"><span></span></p>
            <br>
            <p class="wheelItem" data-value="tireBrandOrModel"></p>
            <p class="wheelItem" data-value="tireSize"><span></span></p>
          </div>
          <div class="GalleryListing__differentWheels">
            <p class="wheelItem" data-value="wheelBrandOrModel"></p>
            <p class="wheelItem" data-value="wheelSizeFront">Front: <span></span></p>
            <p class="wheelItem" data-value="wheelSizeRear">Rear: <span></span></p>
            
            <br>
            <p class="wheelItem" data-value="tireBrandOrModel"></p>
            <p class="wheelItem" data-value="tireSizeFront">Front: <span></span></p>
            <p class="wheelItem" data-value="tireSizeRear">Rear: <span></span></p>
          </div>
          <p class="wheelItem" data-value="frontWheelSpacers"></p>
          <p class="wheelItem" data-value="rearWheelSpacers"></p>
        </div>

        <div class="GalleryListing__modSection" data-mods="exteriorMods">
          <h4>Exterior</h4>
          <ul></ul>
        </div>

        <div class="GalleryListing__modSection" data-mods="lightingMods">
          <h4>Lighting</h4>
          <ul></ul>
        </div>

        <div class="GalleryListing__modSection" data-mods="interiorMods">
          <h4>Interior</h4>
          <ul></ul>
        </div>

        <div class="GalleryListing__modSection" data-mods="brakeMods">
          <h4>Brakes</h4>
          <ul></ul>
        </div>

        <div class="GalleryListing__modSection" data-mods="transmissionMods">
          <h4>Transmission</h4>
          <ul></ul>
        </div>

        <div class="GalleryListing__modSection" data-mods="otherModsOrInfo">
          <h4>Other mods/info</h4>
          <ul></ul>
        </div>

        <div class="GalleryListing__modSection" data-mods="plannedFutureMods">
          <h4>Planned future mods</h4>
          <ul></ul>
        </div>
        
            <div class="share_toolbox">
   
      <ul>
        <li>{{ settings.text_share }}</li>
        {% if settings.social_title_1 != blank %}
        <li><a href="{{ settings.social_link_1 }}?subject={{product.title}}&body={{canonical_url}}" target="_blank" title="{{ settings.social_title_1 }}"><img class="lazyload" data-src="{{ 'social_icon_1.png' | asset_url }}" alt="email"></a></li>
        {% endif %}
        {% if settings.social_title_2 != blank %}
        <li><a href="{{ settings.social_link_2 }}{{ canonical_url }}&p[images][0]={{featured_image}}" target="_blank" title="{{ settings.social_title_2 }}"><img class="lazyload" data-src="{{ 'social_icon_2.png' | asset_url }}" alt="Facebook"></a></li>
        {% endif %}
        {% if settings.social_title_3 != blank %}
        <li><a href="{{ settings.social_link_3 }}{{ canonical_url }}" target="_blank" title="{{ settings.social_title_3 }}"><img class="lazyload" data-src="{{ 'social_icon_3.png' | asset_url }}" alt="Twitter"></a></li>
        {% endif %}
        {% if settings.social_title_4 != blank %}
        <li><a href="{{ settings.social_link_4 }}{{ canonical_url }}&media=http:{{ featured_image | img_url: 'grande' }}&description={{product.title}}" target="_blank" title="{{ settings.social_title_4 }}"><img class="lazyload" data-src="{{ 'social_icon_4.png' | asset_url }}" alt="Pinterest"></a></li>
        {% endif %}
      </ul>
    </div>
      
      </div>




    </div>
  </div>
</div>