{% render 'shogun-products', content: product %}
{{product.metafields.shogun.above}}
{%- if product.metafields.inventory.ShappifyHidden == 'true' -%}{%- break -%}{%- endif -%}
{% comment %}
W3 Accessories code variable for passing through quantity to product page.
{% endcomment %}
<script type="text/javascript">  var w3ProductData = {{ product | json }}; </script>
{{ 'w3-uro.js' | asset_url | script_tag }}



<style>
  .img-wrapper {
    overflow: hidden;
    max-height: 400px;
  }

  .img-container {
    max-height: inherit;
    transform: translateY(50%);
  }

  .img-wrapper img {
    display: block;
    transform: translateY(-50%);
    width: 100%;
  }
</style>
<div class="img-wrapper">
  <div class="img-container">
    <img src="{{ product.metafields["global"]["Featured-Image"] }}">
  </div>
</div>
{% comment %}{% include 'product-banner' %}{% endcomment %}
<div class="container">
  <div>{% include 'breadcrumb' %}</div>

  <div class="row">
    {% include 'product-sidebar' %}
    <div class="col-xs-9 col-main">
      <div class="product">
        <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
        <meta itemprop="image" content="{{ product.featured_image | img_url: '600x600' }}">
        <meta itemprop="description" content="{{ product.description | strip_html  | replace: '"', "'" }}" />
        <meta itemprop="brand" content="{{ product.vendor }}" />
        <meta itemprop="mpn" content="{{ product.selected_or_first_available_variant.sku }}" />
        <meta itemprop="sku" content="{{ product.selected_or_first_available_variant.sku }}" />

        <div class="row">
          <div class="col-xs-12 col-sm-7 product-img-box {% if settings.product_image_border%} grid-item-border {% endif %}">
            {% if product.images.size == 0 %}
            <div class="product-photo-container">
              <img src="{{ '' | product_img_url: 'grande' }}" alt="" width="100%">
            </div>
            {% else %}
            <div class="product-photo-container">
              {% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
              <a href="{{ featured_image | img_url: 'grande' }}" >
                <img id="product-featured-image" src="{{ featured_image | img_url: 'grande' }}" alt="{{ featured_image.alt | escape }}" data-zoom-image="{{ featured_image.src | img_url: 'original' }}" width="100%"/>
              </a>
            </div>
            {% if product.images.size > 0 %}
            <div class="more-view-wrapper more-view-wrapper-owlslider">
              <ul id="more-view-carousel" class="product-photo-thumbs owl-carousel">
                {% for image in product.images %}
                <li class="grid-item"  {% if product.images.size < 2 %} style="display:none!important" {% endif %}>
                  <a href="javascript:void(0)" data-image="{{ image.src | product_img_url: 'grande' }}" data-zoom-image="{{ image.src | product_img_url: 'original' }}">
                    <img class="lazyload" data-src="{{ image.src | product_img_url: 'compact' }}" alt="{{ image.alt | escape }}">
                  </a>
                </li>
                {% endfor %}
              </ul>
            </div>
            {% endif %}
            {% endif %}
          </div>
          <div class="col-xs-12 col-sm-5 product-shop">
            <div style="max-width: 100%;margin: 0 auto !important;float: none !important; box-shadow: 0 5px 25px #777; padding: 20px 30px 20px; border-radius: 5px;">
              <header class="product-title {% if collection.previous_product or collection.next_product and settings.display_prev_next_product and collection %}has-btn{% endif %}">
                <h2 itemprop="name">{{ product.title }}</h2>
              </header>
              <div class="ruk_rating_snippet" data-sku="{{ product.handle }};{{ product.variants | map: 'sku' | join: ';' }};{{ product.variants | map: 'id' | join: ';' }}"></div>
              <hr>

              {% if product.description contains '[countdown]' %}
                {% assign count_down_first = product.description | split:'[/countdown]' | first %}
                {% assign count_down_final = count_down_first | split:'[countdown]' | last %}
                <div class="countdown"><span>{{ settings.text_countdown }}</span><div id="clock"></div></div>
                {{ 'jquery.countdown.min.js' | asset_url | script_tag }}
                <script>
                  $(document ).ready(function() {
                    $("#clock").countdown('{{ count_down_final }}', function(event) {
                    $(this).html(event.strftime('%Dd %H:%M:%S'));
                  });
                  })
                </script>
              {% endif %}

              <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                <meta itemprop="priceCurrency" content="{{ shop.currency }}">
                <meta itemprop="price" content="{{product.selected_or_first_available_variant.price|money_without_currency | remove: ','}}" />
                <meta itemprop="availability" content="http://schema.org/{% if product.selected_or_first_available_variant.available %}InStock{% else %}OutOfStock{% endif %}"/>
                <meta itemprop="itemCondition" itemtype="http://schema.org/OfferItemCondition" content="http://schema.org/NewCondition"/>
                {% if product.description contains '[countdown]' %}
                {% assign des = product.description | split:'[/countdown]' | last %}
                {% if settings.show_desc == 'short' %}
                <div class="short-description">{{ des | strip_html | truncatewords: 50 }}</div>
                {% elsif settings.show_desc == 'full' %}
                <div class="short-description">{{ des }}</div>
                {% endif %}
                {% else %}
                {% if settings.show_desc == 'short' %}
                <div class="short-description">{{ product.description | strip_html | truncatewords: 50 }}</div>
                {% elsif settings.show_desc == 'full' %}
                <div class="short-description">{{ product.description }}</div>
                {% endif %}
                {% endif %}
                
                              <div style="padding-bottom: 20px">
                                <a href="https://www.urotuning.com/pages/UROTUNING-subscribe-page"><center>{{ 'rotiform-sale.png' | asset_url | img_tag: shop.name }}</center></a>
                  </div>

                <form action="/cart/add" method="post" enctype="multipart/form-data" id="add-to-cart-form" autocomplete="off">

				{% include 'esc-out-of-stock' %}

                  <div class="row">
                    <div class="col-xs-7 col-sm-8">
                      <div class="prices">
                        {% if product.compare_at_price > product.price %}
                        <div style="margin-bottom: 10px"><span style="color: #000!important; font-size: 16px; font-weight: 700">ON SALE</span>  <span class="compare-price"><i>{{ product.compare_at_price_max | money }}</i></span></div>
                        <span class="bold_option_price_display price on-sale" >{{ product.price | money }}</span>
                        {% else %}
                        <span class="bold_option_price_display price" >{{ product.price | money }}</span>
                        {% endif %}
                     <p style="font-size: 12px; font-weight: bold;" class="affirm-as-low-as" data-page-type="cart" data-amount="{{ product.price }}"></p>
                      </div>
                    </div>
                    <div class="col-xs-5 col-sm-4" style="text-align: right;">
                      {% include 'wick-availability' %}
                    </div>
                  </div>

                  {% if settings.display_availability or settings.display_product_type or settings.display_vendor %}
                  <div class="product-infor">
                    {% if settings.display_availability %}
                    <p class="product-inventory"> <label>Availability</label><span>{% if product.selected_or_first_available_variant.inventory_management %}{% assign first_inventory = product.selected_or_first_available_variant.inventory_quantity %}{% if first_inventory > 0 %}{{first_inventory}} in stock{% else %}Out of stock{% endif %}{% else %}Many in stock{% endif %}
                      </span></p>
                    {% endif %}
                    {% if settings.display_product_type %}
                    <p class="product-type"> <label>Product Type</label><span>{{ product.type }}</span></p>
                    {% endif %}
                    {% if settings.display_vendor %}
                    <p class="product-vendor"> <label>Vendor</label><span>{{ product.vendor }}</span></p>
                    {% endif %}
                  </div>
                  {% endif %}

                  <div class="row">
                    <div class="col-xs-4 col-sm-4">
                      {% capture mm_vend %}https://urotuned.com/mfg_img/{{ product.vendor | handleize }}.jpg{% endcapture %}
                      {% capture mm_vendurl %}https://www.urotuning.com/{{ product.vendor | handleize }}{% endcapture %}
                      <div>
                        <a href="{{ mm_vendurl }}"><img src="{{ mm_vend }}" style="max-height: 35px;"></a>
                      </div>
                    </div>
                    {% assign noFreeShipping = false %}
                    {% assign productTags = '' %}
                    {% for tag in product.tags %}
                    {% if tag contains 'NO Free Shipping' %}
                    {% assign noFreeShipping = true %}
                    {% endif %}
                    {% assign formattedTag = tag | append: ', ' | remove: '"' %}
                    {% assign productTags = productTags | append: formattedTag %}
                    {% endfor %}
                    {% unless noFreeShipping %}
                    <div class="row">
                      {% if product.price >= 4900 %}
                      <div style="Text-align: right; margin-right: 20px;">
                        {{ 'free.png' | asset_url | img_tag: shop.name }}
                      </div>
                      {% endif %}
                      {% if product.price < 4900 %}
                      <div Style="Text-align: right; margin-right: 20px;">
                        {{ 'free99.png' | asset_url | img_tag: shop.name }}
                      </div>
                      {% endif %}
                    </div>
                    {% endunless %}
                  </div>
                  <div class="row">
                    <div class="col-xs-8 col-sm-7" style="padding-top: 20px">

                      {% assign current_variant = product.selected_or_first_available_variant %}
                      <p class="sample-vendor" style="margin-top: -10px; margin-bottom: 20px;"><span style="color: #000!important; font-weight: 700;">Part#</span> <span class="variant-sku" onchange="znDisplayCurrency()" style="color: #777">{{ current_variant.sku }}</span></p>

                      {% comment %}
                      <p class="sample-vendor" style="margin-top: -10px; margin-bottom: 20px;"><span style="color: #000!important">SKU #</span> <span style="color: #777">{{ product.id }}</span></p>
                      {% endcomment %}
                      {% comment %}
                      {{ product.id }}_{{ product.variants.first.id }}
                      {% endcomment %}
                    </div>
                  </div>
                  <div id="product-variants">
                    {% assign variantCount = product.variants | size %}
                    {% if product.available %}
                    {% if variantCount > 0 %}
                    <select id="product-selectors" name="id" style="display:none">
                      {% for variant in product.variants %}
                      <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money }}</option>
                      {% endfor %}
                    </select>

                    {% if settings.use_color_swatch %}
                    {% for option in product.options %}
                    {% include 'swatch' with option %}
                    {% endfor %}
                    {% endif %}
                    {% else %}
                    <input type="hidden" name="id" value="{{ product.variants[0].id }}" />
                    {% endif %}
                    {% endif %}
                  </div>

                  <div class="bold_options" data-product-id="{{ product.id }}"></div>


                  <div id="esc-oos-form"></div>
                  <div class="row">
                    <div class="col-xs-2 col-sm-2">
                      {% if product.available %}
                      <label for="quantity">QTY: </label>
                      <input type="text" id="quantity" name="quantity" value="1">
                      <script>
                        jQuery(".button").on("click", function() {
                          var oldValue = jQuery("#quantity").val(),
                              newVal = 1;

                          if (jQuery(this).text() == "+") {
                            newVal = parseInt(oldValue) + 1;
                          } else if (oldValue > 1) {
                            newVal = parseInt(oldValue) - 1;
                          }

                          jQuery("#quantity").val(newVal);
                          {% if settings.display_subtotal and product.available %}
                          updatePricing();
                          {% endif %}
                        });
                      </script>
                    </div>
                    <div class="col-xs-7 col-sm-7" style="padding-top: 5px">

                      <input style="width:110%!important; background: #43c8f2; border: #43c8f2; color: #fff!important; font-size:18px!important" type="submit" name="add" class="btn addtocart" id="product-add-to-cart" value="Add to Cart">
                    </div>
                    {% else %}
                    <input style="width:600%!important;"  type="submit" name="add" class="btn" id="product-add-to-cart" disabled="disabled" value="Out of Stock">
                  </div>
                  {% endif %}

                  <div class="col-xs-2 col-sm-3" style="padding-top: 5px">
                  </div>
                  </div>

                {% if settings.display_subtotal and product.available %}
                <div class="total-price">
                  <label>Subtotal:  </label><span>{{ product.price | money }}</span>
                </div>
                {% endif %}

                </form>
              <div class="SwymDummyDiv" style="margin: -83px 0 26px 0; text-align: right;">
                <div class="SwymDummyContainer">
                </div>
              </div>
              <hr>
              <div class="row" style="text-align: center;">
                <span id="fitment-verification" class="custom-button">Does This Fit Your Car?</span>
                <div class="car-selector-container">
                  {% include 'car-selector', action: 'check_car' %}
                </div>
              </div>
              <div class="row" style="text-align: center; position: relative;">
                <div class="checker-loading"><img src="https://cdn.shopify.com/s/files/1/0005/7773/2663/files/ajax-loader.gif?8552231196770646464"></div>
                <button class="make-selected-car">save my car?</button>
              </div>
              <div class="row" style="text-align: center;">
                <p class="fitment-status" data-tags="{{ productTags }}"></p>
              </div>
              <div class="row show-fitment-note" style="text-align: center; display: none">
                <p><a href="#collapse-tab5"><span class="custom-icon-fitment">!</span><span class="fitment-note">Check fitment notes</span></a></p>
              </div>

            </div>

            {% if settings.show_tab == 'vertical' %}
            <div class="panel-group" id="accordion">
              {% if settings.display_product_detail_description %}
              <div class="panel product-description rte wow fadeInUp">
                <div class="panel-heading">
                  <h4 class="panel-title active">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse-tab1">
                      {{ settings.product_description_title }}
                    </a>
                  </h4>
                </div>
                <div id="collapse-tab1" class="panel-collapse collapse in">
                  <div class="panel-body" itemprop="description">
                    {% if product.description contains '[countdown]' %}
                    {% assign des = product.description | split:'[/countdown]</p>' | last %}
                    {{ des }}
                    {% else %}
                    {{ product.description }}
                    {% endif %}
                  </div>
                </div>
              </div>
              {% endif %}

              {% if settings.display_custom_tab %}
              <div class="panel wow fadeInUp" data-wow-delay="100ms">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse-tab2">
                      {{ settings.custom_tab_title }}
                    </a>
                  </h4>
                </div>
                <div id="collapse-tab2" class="panel-collapse collapse">
                  <div class="panel-body">
                    {{ settings.custom_tab_content}}
                  </div>
                </div>
              </div>
              {% endif %}

              {% if settings.display_product_reviews %}
              <div class="panel wow fadeInUp" data-wow-delay="300ms">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse-tab4">
                      {{ settings.product_review_title }}
                    </a>
                  </h4>
                </div>
                <div id="collapse-tab4" class="panel-collapse collapse">
                  <div class="panel-body">
                    <div id="ReviewsWidget"></div>
                  </div>
                </div>
              </div>
              {% endif %}
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>

    {% if settings.show_tab == 'horizontal' %}
    <div class="panel-group">
      <ul class="nav nav-tabs">
        {% if settings.display_product_detail_description %}
        <li class="active"><a href="#collapse-tab1">{{ settings.product_description_title }}</a></li>
        {% endif %}

        <li><a href="#collapse-tab5">Fitments</a></li>

        {% if settings.display_product_reviews %}
        <li><a href="#collapse-tab4">{{ settings.product_review_title }}</a></li>
        {% endif %}

        {% if settings.display_custom_tab %}
        <li><a href="#collapse-tab2">{{ settings.custom_tab_title }}</a></li>
        {% endif %}

      </ul>

      <div class="tab-content">
        {%- if settings.display_product_detail_description -%}
          {% if product.description contains '[countdown]' %}
          {%- assign des = product.description | split:'[/countdown]</p>' | last -%}
          <div id="collapse-tab1" >{{ des }}</div>
          {% else %}
          <div id="collapse-tab1" class="description_product">{{ product.description }}
            <P><P>⚠️<b>CALIFORNIA WARNING: Cancer and Reproductive Harm - </b><a href="http://www.P65Warnings.ca.gov" target="_blank">www.P65Warnings.ca.gov</a></div>
          {% endif %}
        {%- endif -%}

        <div class='fitment-description-tab'>
          <a name="collapse-tab5"></a>
          <ul class="nav nav-tabs">
            <li class="active"><a href="#collapse-tab5">Fitments</a></li>
          </ul>
          <div class="fitment-note-metafields" style="font-weight: 600; text-transform: capitalize; color: #f62f2f;">
            <div style="display:none">{{ product.metafields["global"]["Fitment-Note"] }}</div>
          </div>
        </div>

        {% if settings.display_product_reviews %}
        <div>
          <a name="collapse-tab4"></a>
          <ul class="nav nav-tabs">
            <li class="active"><a href="#collapse-tab4">{{ settings.product_review_title }}</a></li>
          </ul>
          <div id="ReviewsWidget"></div>
        </div>
        {% endif %}

        {% if settings.display_custom_tab %}
        <div>
          <a name="collapse-tab2"></a>
          <ul class="nav nav-tabs">
            {% if settings.display_product_reviews %}
            <li class="active"><a href="#collapse-tab2">Shipping & Returns</a></li>
            {% endif %}
          </ul>
          <div class="visible-md visible-lg">
            <center><span id="selection-marker-1" class="redactor-selection-marker"></span><img src="{{ 'shop-conf.jpg' | asset_url }}" style="padding: 5px;"/></center><center><img src="{{ 'safe.jpg' | asset_url }}" style="padding: 5px;"/><a href="https://www.reviews.io/company-reviews/store/urotuning-com" target="_blank"><img src="{{ 'top-quality.jpg' | asset_url }}" style="padding: 5px; background-color: initial;"/></a><a href="../pages/returns-exchanges-warranty-lost-packages-damaged-items" target="_blank" style="text-align: left; background-color: initial;"><img src="{{ '60-day.jpg' | asset_url }}" style="padding: 5px;"/></a><a href="../pages/free-shipping-details" target="_blank" style="text-align: left; background-color: initial;"><img src="{{ 'free-ship-info.jpg' | asset_url }}" style="padding: 5px;"/></a></center>
</div>
<div class="visible-xs visible-sm">
  <center><img src="{{ 'shop-conf.jpg' | asset_url }}" style="padding: 5px;" width="288"/></center><center><img src="{{ 'safe.jpg' | asset_url }}" style="padding: 5px;" width="133"/><a href="https://www.reviews.io/company-reviews/store/urotuning-com" target="_blank"><img src="{{ 'top-quality.jpg' | asset_url }}" style="padding: 5px; background-color: initial;" width="133"/></a><a href="../pages/returns-exchanges-warranty-lost-packages-damaged-items" target="_blank" style="text-align: left; background-color: initial;"><img src="{{ '60-day.jpg' | asset_url }}" style="padding: 5px;" width="133"/></a><a href="../pages/free-shipping-details" target="_blank" style="text-align: left; background-color: initial;"><img src="{{ 'free-ship-info.jpg' | asset_url }}" style="padding: 5px;" width="133"/></a></center>
</div>
          <br>
        </div>
        {% endif %}

      </div>
    </div>
    <script>
      jQuery('#myTab a').click(function (e) {
        e.preventDefault();
        jQuery(this).tab('show');
      })
    </script>
    {% endif %}

    {% if settings.display_product_detail_share %}
    {% comment %}
    {% include 'share' with product %}
    {% endcomment %}
    <div class="share_toolbox">
      <p>{{ settings.text_share }}</p>
      <ul>
        {% if settings.social_title_1 != blank %}
        <li><a href="{{ settings.social_link_1 }}?subject={{product.title}}&body={{canonical_url}}" target="_blank" title="{{ settings.social_title_1 }}"><img class="lazyload" data-src="{{ 'social_icon_1.png' | asset_url }}" alt="email"></a></li>
        {% endif %}
        {% if settings.social_title_2 != blank %}
        <li><a href="{{ settings.social_link_2 }}{{ canonical_url }}&p[images][0]={{featured_image}}" target="_blank" title="{{ settings.social_title_2 }}"><img class="lazyload" data-src="{{ 'social_icon_2.png' | asset_url }}" alt="Facebook"></a></li>
        {% endif %}
        {% if settings.social_title_3 != blank %}
        <li><a href="{{ settings.social_link_3 }}{{ canonical_url }}" target="_blank" title="{{ settings.social_title_3 }}"><img class="lazyload" data-src="{{ 'social_icon_3.png' | asset_url }}" alt="Twitter"></a></li>
        {% endif %}
        {% if settings.social_title_4 != blank %}
        <li><a href="{{ settings.social_link_4 }}{{ canonical_url }}&media=http:{{ featured_image | img_url: 'grande' }}&description={{product.title}}" target="_blank" title="{{ settings.social_title_4 }}"><img class="lazyload" data-src="{{ 'social_icon_4.png' | asset_url }}" alt="Pinterest"></a></li>
        {% endif %}
      </ul>
    </div>
    {% endif %}
{% comment %}FREQUENTLY PURCHASED TOGETHER Slider{% endcomment %}
<div class="findify-element" id="product-findify-rec-4"></div>
        
<hr>

  </div>
</div>
{% comment %}Recently Viewed Slider{% endcomment %}
<div class="findify-element" id="product-findify-rec-1"></div>

{% for v in product.variants %}
<div class="variant-{{ v.id }}" data-inventory="{{ v.inventory_quantity }}" style="display:none;"></div>
{% endfor %}

<script>
  //Shopify.Image.preload({{ product.images | json }}, 'grande');

  {% if settings.display_subtotal and product.available %}
  //update price when changing quantity
  function updatePricing() {
    //try pattern one before pattern 2
    var regex = /([0-9]+[.|,][0-9]+[.|,][0-9]+)/g;
    var unitPriceTextMatch = jQuery('.product .price').text().match(regex);

    if (!unitPriceTextMatch) {
      regex = /([0-9]+[.|,][0-9]+)/g;
      unitPriceTextMatch = jQuery('.product .price').text().match(regex);
    }

    if (unitPriceTextMatch) {
      var unitPriceText = unitPriceTextMatch[0];
      var unitPrice = unitPriceText.replace(/[.|,]/g,'');
      var quantity = parseInt(jQuery('#quantity').val());
      var totalPrice = unitPrice * quantity;

      var totalPriceText = Shopify.formatMoney(totalPrice, window.money_format);

      totalPriceText = totalPriceText.match(regex)[0];

      var regInput = new RegExp(unitPriceText, "g");
      var totalPriceHtml = jQuery('.product .price').html().replace(regInput ,totalPriceText);

      jQuery('.product .total-price span').html(totalPriceHtml);
    }
  }
  jQuery('#quantity').on('change', updatePricing);
  {% endif %}

  var selectCallback = function(variant, selector) {
           if(variant == null)
    {
      //alert("Not available");
      setTimeout(function(){ jQuery('#addToCartCopy').val('Unavailable').addClass('disabled').attr('disabled', 'disabled'); }, 0);
      return false;
    }

    //   $('.affirm-as-low-as').attr('data-amount',variant.price);
    //   affirm.ui.refresh();

    if (variant) {
      $('.variant-sku').text(variant.sku);
      znDisplayCurrency && setTimeout(znDisplayCurrency, 1000);
    }
    else {
      $('.variant-sku').empty();
    }

    {% assign dropship = true %}
    {% for variant in product.variants %}
    {% if variant.inventory_quantity > 0 %}
    {% assign dropship = false %}
    {% break %}
    {% endif %}
    {% endfor %}
    {% unless dropship %}
    var prodIcon = jQuery('.iconforprod');
    
    var inventory = $('.variant-' + variant.id).data('inventory');
    
    if (variant.available && inventory > 0) {
      prodIcon.removeClass('lt_show').addClass('gt_show');


    } else {
      // Variant is sold out, disable the submit button
      prodIcon.removeClass('gt_show').addClass('lt_show');
    }
    {% endunless %}

    var addToCart = jQuery('#product-add-to-cart'),
        productPrice = jQuery('.product .price'),
        comparePrice = jQuery('.product .compare-price');

    if (variant) {

      if (variant.available) {
        // We have a valid product variant, so enable the submit button
        addToCart.removeClass('disabled').removeAttr('disabled').val('Add to Cart');


      } else {
        // Variant is sold out, disable the submit button
        addToCart.val('Sold Out').addClass('disabled').attr('disabled', 'disabled');
      }

      // Regardless of stock, update the product price
      productPrice.html(Shopify.formatMoney(variant.price, "{{ shop.money_format }}"));

typeof BOLD !== 'undefined'
&& typeof BOLD.common !== 'undefined'
&& BOLD.common.eventEmitter !== 'undefined'
&& BOLD.common.eventEmitter.emit('BOLD_COMMON_variant_changed', { variant: variant });

                                            // Also update and show the product's compare price if necessary
                                            if ( variant.compare_at_price > variant.price ) {
                        productPrice.addClass("on-sale")
      comparePrice
      .html(Shopify.formatMoney(variant.compare_at_price, "{{ shop.money_format }}"))
                                .show();
            } else {
            comparePrice.hide();
      productPrice.removeClass("on-sale");
    }
    {% if settings.use_color_swatch %}
    // BEGIN SWATCHES
    var form = jQuery('#' + selector.domIdPrefix).closest('form');
    for (var i=0,length=variant.options.length; i<length; i++) {
      var radioButton = form.find('.swatch[data-option-index="' + i + '"] :radio[value="' + variant.options[i] +'"]');
      if (radioButton.size()) {
        radioButton.get(0).checked = true;
      }
    }
    // END SWATCHES
    {% endif %}

    {% if settings.display_subtotal and product.available %}
    updatePricing();
    {% endif %}


  

  } else {
     // The variant doesn't exist. Just a safeguard for errors, but disable the submit button anyway
     addToCart.val('Unavailable').addClass('disabled').attr('disabled', 'disabled');
  }

  //update variant inventory
  {% if settings.display_availability %}
  if (variant.available) {
    if (variant.inventory_management!=null) {
      jQuery(".product-inventory span").text(variant.inventory_quantity + " in stock");
    } else {
      jQuery(".product-inventory span").text("Many in stock");
    }
  } else {
    jQuery(".product-inventory span").text("Out of stock");
  }
  {% endif %}

  /*begin variant image*/
  if (variant && variant.featured_image) {
    var originalImage = jQuery("#product-featured-image");
    var newImage = variant.featured_image;
    var element = originalImage[0];
    Shopify.Image.switchImage(newImage, element, function (newImageSizedSrc, newImage, element) {
      jQuery('#more-view-carousel img').each(function() {
        var grandSize = jQuery(this).attr('src');
        if(grandSize == undefined){
          grandSize = jQuery(this).attr('data-src');
        }
        grandSize = grandSize.replace('compact','grande');
        if (grandSize == newImageSizedSrc) {
          jQuery(this).parent().trigger('click');
          return false;
        }
      });
    });
  }
  /*end of variant image*/
  };

  jQuery(function($) {
    {% if product.available and product.variants.size > 0 %}
    new Shopify.OptionSelectors('product-selectors', {
      product: {{ product | json }},
      onVariantSelected: selectCallback,
      enableHistoryState: true
      // Grab the variant currently selected with ?variant=ID in the URL, or the first in stock variant, on page load.

    });

    {% comment %}
    Use color swatch and linked options (copyright by @carolineschnapp)
    {% endcomment %}
    {% if settings.use_color_swatch and product.available and product.options.size > 1 %}
    Shopify.linkOptionSelectors({{ product | json }});
    {% endif %}

    {% if settings.use_color_swatch != true %}
    jQuery('.single-option-selector').selectize();
    jQuery('.selectize-input input').attr("disabled","disabled");
    {% endif %}

    {% endif %}

    // Add label if only one product option and it isn't 'Title'. Could be 'Size'.
    {% if product.options.size == 1 and product.options.first != 'Title' %}
    $('.selector-wrapper:eq(0)').prepend('<label>{{ product.options.first }}</label>');
                                         {% endif %}

                                         // Hide selectors if we only have 1 variant and its title contains 'Default'.
                                         {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
                                         $('.selector-wrapper').hide();
    {% endif %}

    // Auto-select first available variant on page load. Otherwise the product looks sold out.
    {% assign found_one_in_stock = false %}
    {% for variant in product.variants %}
    {% if variant.available and found_one_in_stock == false %}
    {% assign found_one_in_stock = true %}
    {% for option in product.options %}
    $('.single-option-selector:eq({{ forloop.index0 }})').val({{ variant.options[forloop.index0] | json }}).trigger('change');
    {% endfor %}
    {% endif %}
    {% endfor %}

  });
</script>
</div>

<link rel="stylesheet" href="https://d1azc1qln24ryf.cloudfront.net/40686/revsglobal-pr-mod/style-cf.css?-c0avz5">
<script src="https://widget.reviews.io/combined/dist.js?v1"></script>
<link rel="stylesheet" href="https://widget.reviews.io/combined/style.css?v1">
<script>
    new ReviewsWidget('#ReviewsWidget', {
        store: 'urotuning-com',
        widget: 'combined-widget',
        options: {
            types: 'product_review,store_review,questions', // store_review,product_review,questions (choose what content you prefer to show in this widget)
            per_page: 10, // Any number (set how many reviews/questions you want to show per page)

            /* Company Reviews Settings */
            store_review:{
                min_rating: 4,   
                enable_social_sharing:false,
                enable_helpful:false,
                enable_smart_filters:false,
                enable_rating_filters:false,
                enable_featured_review_photos:true,
                enable_featured_social_photos:true,
                enable_toggle_filters:false,
                enable_list_summary:true,
                show_mention_text:true,
                show_dates:true,
                show_replies:true,
                show_avatars:true,
                show_photos:true,
                show_verify_status:true
            },

            /* Product Reviews Settings */
            product_review: {
              	min_rating: 3,   
              	sku: '{{ product.handle }};{{ product.variants | map: "sku" | join: ";" }};{{ product.variants | map: "id" | join: ";" }};v26532676543',
                enable_write_review:false,
                enable_smart_filters:false,
                enable_rating_filters:false,
                enable_toggle_filters:false,
                enable_social_sharing:false,
                enable_helpful:false,
                enable_featured_review_photos:true,
                enable_featured_social_photos:true,
                show_mention_text:true,
                show_dates:true,
                show_replies:true,
                show_avatars:true,
                show_photos:true,
                show_verify_status:true,
                structured_data: {
                  category: {{ product.type | json }},
                  {%if product.variants.first.barcode  == blank %}
                  {%else%}
                         {% capture gtin_length %}
                             {{ product.variants.first.barcode | size }}
                         {% endcapture %}
                         {% if gtin_length == "14" %}
                            gtin14:"{{product.variants.first.barcode}}",
                        {% elsif gtin_length == "13" %}
                            gtin13:"{{product.variants.first.barcode}}",
                        {% elsif gtin_length == "12" %}
                            gtin12:"{{product.variants.first.barcode}}",
                        {% elsif gtin_length == "12" %}
                            gtin8:"{{product.variants.first.barcode}}"
                        {% endif %}
                  {% endif %}
                  url: "{{ shop.url }}{{ product.url }}",
                  {%- if product.featured_image -%}
                  		image: 'https:{{ product.featured_image | product_img_url: 'grande' }}',
                  {%- endif -%}
                  {% if variant.image %}
                  {% assign variant_image_size = variant.image.width | append: 'x' %}
                        image: "http:{{ variant.image.src | img_url: variant_image_size }}",
                  {% endif %}
                  
                  description: "{{ product.description | strip_html | strip_newlines | escape }}",
                  offers: [{
            		  type: 'Offer',
                      price: "{{ product.selected_or_first_available_variant.price | money_without_currency | replace : ',', '' }}",
                      priceCurrency: "{{ shop.currency }}",
                      url: "{{ shop.url }}{{ product.url }}",
                      availability: "http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}",
                      priceValidUntil: "{{ "now" | date: "%s" | plus: 2592000 | date: "%Y-%m-%-d" }}",
                  }],
                  brand: {
                    type: 'Brand',
                    name: '{{ product.vendor | escape }}',
                  },
              }

            },

            /* Questions & Answers Settings */
            questions:{
                enable_ask_question:true,
                show_dates:true,
				sku:"{{ product.variants | map: 'sku' | join: ';' }};{{ product.variants | map: 'id' | join: ';' }}",
                grouping:''
            }
        },

        /* Customise Colours & Fonts */
        styles: {
            starColor:'#ff9900',
            textColor:'#333333',
            primaryColor:'#d20000',
            neutralColor:'#ececec',
            backgroundColor:'#ffffff',
            formColor:'#dcdcdc',
            baseTextSize:'14px',
            review_style:'',
            header_style:''
        },

        /* Customise Buttons */
        buttons:{
            smart_filter:'solid',
            write_review:'solid',
            selected_page:'outline'
        },

        /* Avatar Settings */
        avatars:{
            enable_gravatar:true,
            gravatar_fallback:'identicon'
        },

        /* Other Options*/
        reviewsLogo:{
            show_logo:false,
            style:'black'
        }
    });
</script>


<script src="https://widget.reviews.io/product/dist.js"></script>
<script src="https://widget.reviews.io/rating-snippet/dist.js"></script>
<link rel="stylesheet" href="https://widget.reviews.io/rating-snippet/dist.css" />
<script>
ratingSnippet("ruk_rating_snippet",{
store: "urotuning-com",
color: "#ff9900",
linebreak: false,
link: false,
text: "Reviews"
});
</script>

<script>	
    document.addEventListener('DOMContentLoaded', function(){	
      //debugger;	
      BOLD.common.eventEmitter.emit('BOLD_COMMON_variant_changed');	
    })	
  </script>

{{product.metafields.shogun.below}}

{% include 'findify-tagging' %}
  
  <script>
    BOLD.common.eventEmitter.on('BOLD_OPTIONS_option_products_loaded', function(event){
      var optionsDiv = document.querySelector('.bold_options_loaded');
    if (optionsDiv != null && optionsDiv.children.length != 0) {   
        var addtocart = document.querySelectorAll('.product-add');      
          for(var i=0; i<addtocart.length; i++){         
            addtocart[i].removeAttribute("disabled");       
        }           
    }    
    });
  BOLD.common.eventEmitter.on('BOLD_OPTIONS_no_option_products_loaded', function(event){   
    var addtocart = document.querySelector('.product-add');
    if(addtocart){
      addtocart.removeAttribute("disabled");
    }   
  });
</script>